$road-color: linear-gradient(to bottom, #999999, #333333);
$car-hood-color: #9C2535;
$car-body-color: #9C2535;
$window-color: #E2F0F6;
// #6a1621
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    overflow: hidden;
    background-color: #dcc6e7;
}


// For traffic-light
.traffic-light {
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateY(53px);

    &__light-holder {
        height: 150px;
        width: 60px;
        border-radius: 10px 10px 0 0;
        background-image: linear-gradient(-20deg, #333 0%, #999 20%, #333 60%, #999 100%);
        border: 1px solid black;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;

        &--red-light {
            width: 30px;
            height: 30px;
            border-radius: 100%;
            background-color: #afa9a962;
            border: 2px solid black;
        }
        
        &--green-light {
            width: 30px;
            height: 30px;
            border-radius: 100%;
            background-color: #afa9a962;
            border: 2px solid black;
        }

        &--yellow-light {
            width: 30px;
            height: 30px;
            border-radius: 100%;
            background-color: #afa9a962;
            border: 2px solid black;
        }

        &--red-light.active {
            width: 30px;
            height: 30px;
            border-radius: 100%;
            background-color: red;
            border: 2px solid black;
        }
        
        &--green-light.active {
            width: 30px;
            height: 30px;
            border-radius: 100%;
            background-color: #18b418;
            border: 2px solid black;
        }

        &--yellow-light.active {
            width: 30px;
            height: 30px;
            border-radius: 100%;
            background-color: yellow;
            border: 2px solid black;
        }
    }

    &__stand {
        display: flex;
        flex-direction: column;
        align-items: center;

        &--top-part {
            height: 110px;
            width: 15px;
            background-image: $road-color;
            border-left: 1px solid black;
            border-right: 1px solid black;
            background-image: linear-gradient(to right, #333 0%, #999 15%, #333 80%);
        }

        &--bottom-part {
            height: 20px;
            width: 100px;
            border-radius: 5px;
            background-image: $road-color;
            border-left: 1px solid black;
            border-right: 1px solid black;
            border-top: 1px solid black;
            background-image: linear-gradient(to right, #333 0%, #999 20%, #333 80%, #999 95%);
        }
    }
}


// For road
.road {
    z-index: -100;
    border: 1px solid black;
    width: 120%;
    height: 300px;
    position: absolute;
    bottom: 0;
    background-image: $road-color;
    transform: skewX(-20deg) translate(-100px);

    &__horizontal-signs {
        position: relative;
        
        &--sign2 {
            margin-left: 500px;
        }

        &--sign3 {
            margin-left: 800px;
        }

        &--sign4 {
            margin-left: 1100px;
        }

        .horizontal-sign {
            border: 0.5px solid black;
            height: 20px;
            width: 120px;
            background-color: white;
            position: absolute;
            top: 150px;
            transform: translateY(-50%);
            left: 90px;
        }
    }

    &__crosswalk {
        position: relative;
        width: 200px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        left: 300px;

        .vertical-sign {
            background-color: white;
            width: 200px;
            height: 30px;
            border: 1px solid black;
        }
    }
}

// For car
.car {
    position: absolute;
    bottom: 200px;
    right: 200px;
    z-index: 1000;
    transform: translate(280px, 150px);
    animation: car-moving 6s linear infinite;

    &__hood {
        height: 180px;
        width: 250px;
        background-color: $car-hood-color;
        border-radius: 60px 30px 0 0;
        border: 2px solid black;
        display: flex;
        justify-content: space-evenly;

        .window {
            background-color: $window-color;
            border: 10px solid #BF6D7B;
            width: 90px;
            height: 80px;
            transform: translateY(15px);
        }

        &--window1 {
            border-radius: 40px 10px 10px 10px;
        }

        &--window2 {
            border-radius: 10px 20px 10px 10px;
        }
    }

    &__body {
        background-color: $car-body-color;
        width: 400px;
        height: 150px;
        position: relative;
        right: 130px;
        bottom: 75px;
        border-radius: 200px 90px 0 0;
        border: 2px solid black;
        overflow: hidden;
        border-top: 0;

        .car-door {
            position: absolute;
            width: 100px;
            height: 100px;
            background-color: transparent;
            border: 2px solid #B57A84;
            left: 145px;
            top: 15px;
            border-radius: 40% 10% 10% 10%;

            &__knob {
                width: 30px;
                height: 12px;
                border-radius: 30%;
                background-color: #E8E6E6;
                border: 1px solid lightcoral;
                position: relative;
                left: 60px;
                top: 10px;
            }
        }

        &--headlight1 {
            position: absolute;
            background-color: #8282c9;
            height: 30px;
            width: 50px;
            border-radius: 10px;
            top: 50px;
            left: 8px;
            border: 1px solid black;
        }

        &--headlight2 {
            position: absolute;
            background-color: #8282c9;
            height: 30px;
            width: 50px;
            border-radius: 10px;
            top: 50px;
            right: -30px;
            border: 1px solid black;
        }
    }

    &__wheel {
        width: 100%;
        display: flex;
        justify-content: space-around;
        position: absolute;
        transform: translate(-100px, -165px);

        &--wheel1 {
            position: relative;
            right: 50px;
        }

        .wheel {
            width: 120px;
            height: 120px;
            border-radius: 100%;
            border: 20px solid black;
            background-color: grey;
            display: flex;
            justify-content: center;
            align-items: center;
            
            .wheel-mark {
                background-color: black;
                position: absolute;
            }

            .mark1, .mark2 {
                width: 10px;
                height: 25px;
            }

            .mark3, .mark4 {
                width: 25px;
                height: 10px;
            }

            .mark1 {
                margin-bottom: 45px;
            }

            .mark2 {
                margin-top: 45px;
            }

            .mark3 {
                margin-left: 45px;
            }

            .mark4 {
                margin-right: 45px;
            }
            
        }

        #wheel1 {
            animation: wheels-rotation 2s infinite linear;
        }

        #wheel2 {
            animation: wheels-rotation 2s infinite linear;
        }
    }

    &__shadow {
        background-color: rgba(0, 0, 0, 0.4);
        height: 30px;
        width: 110%;
        border-radius: 40% 40%;
        position: relative;
        right: 150px;
        bottom: 40px;
    }
}

// Animations
@keyframes wheels-rotation {
    100% {
        transform: rotate(-360deg);
    }
}

@keyframes car-moving {
    from {
        transform: translate(1000px, 200px);
    }

    to {
        transform: translate(-1100px, -20px);
    }
}